.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @apply fixed w-full top-0 text-white z-10 bg-green-400;
}

.container {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @apply flex flex-col gap-2;
    @apply md:flex-row md:gap-4;
}

.logo-wrapper {
    @apply gap-3 items-center !flex;
    transition: transform 0.2s ease;

    .title {
        @apply font-sans text-lg font-extrabold text-white h-5;
        @apply md:hidden lg:block;
    }

    .subTitle {
        @apply text-xs text-black;
        @apply hidden;
        @apply lg:block;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
}

.mobileMenuTrigger {
    @apply cursor-pointer;
    
    @media (min-width: 500px) {
        @apply hidden;
    }
}

.navList {
    @apply flex flex-col gap-4;

    @media (min-width: 334px) {
        @apply flex-row;
    }

    &.authUser {
        @apply flex flex-col items-center gap-10;
        @apply fixed left-full;
        @apply bg-gray-500 bg-opacity-90;
        @apply w-full h-screen p-6;
        transition: left 0.2s ease;
        
        @media (min-width: 500px) {
            @apply flex flex-row gap-4;
            @apply static;
            @apply bg-transparent;
            @apply h-auto;
            @apply p-0;
        }

        &.showMobileMenu {
            @apply left-0;
        }

        .closeMobile {
            @apply absolute top-2 left-auto right-2;
            @apply text-white;
            @apply cursor-pointer;
        }
    }
}

.navLink {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: #facc15; // Tailwind's text-yellow-300
    }
}